
* {
  font-family: Raleway, sans-serif;
}

body {
  font-size: 1rem;
  font-weight: 300;
  color:#000;
  background-color: #FFF;
  max-width: 1920px;
}

main {
  display: flex;
  width: 100%;
  margin: auto;
}

.logo {
  width: auto;
  height: 45px;
  margin-top: 50px;
  margin-left: 20px;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 15px 0 0 60px;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0 0 60px;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

b {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: initial;
}

p {
  font-weight: 200;
  font-size: 0.9rem;
}

/*              Nav          */

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

nav li {
  padding: 50px 25px;
  border-top: 2px solid transparent;
  margin: 0 20px 0 20px;
}

nav li:hover,
nav li:focus {
  border-color: blue;
}

nav li:hover a,
nav li:focus a {
  color: blue;
}

/*            header             */

header h1 p {
  display: flex;
  justify-content: left;
  padding: 1px;
}

.header-p {
  margin-left: 60px;
}

/*         barre de recherche         */

.search {
  display: inline-block;
  border: 1px solid #9e01010d;
  border-radius: 15px;
  width: auto;
  margin-left: 60px;
}

input {
  border: none;
}

.search .fa-location-dot {
  display: inline-block;
  padding: 13px;
  height: 30px;
  width: 44px;
  font-size: 1.5rem;
  background-color: #F2F2F2;
  border-radius: 14px 0 0 15px;
}

.search button {
  background-color: #0065fc;
  color: white;
  height: 55px;
  border: none; 
  border-radius: 0 15px 15px 0;
  padding: 14px;
  cursor: pointer;
}

/*                 filtres               */

.design-filtre:hover, 
.design-filtre:focus {
  background: #DEEBFF;
  color: #0065FC;
}

.design-filtre {
  display: flex;
  align-items: center;
  height: 50px;
  color: #0065fc;
  border: 1px #D9D9D9 solid;
  border-radius: 25px;
  margin: 0 15px 0 0;
}

.fa-money-bill-wave,
.fa-child-reaching,
.fa-heart,
.fa-dog 
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 45px;
  margin-left: -7px;
  border: 2px #DEEBFF solid;
  border-radius: 25px;
  background-color: #DEEBFF;
}

.text-filtre {
  color: #000;
  font-size: 1rem;
  padding: 0 20px 0 15px;
}

.filtres {
  display: flex;
  align-items: center;
}

.filtres .design-filtre {
  border-radius: 2rem;
  border: 1px solid #add8e6;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
}

button {
  background-color: white;
}

.filtres h2 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0;
}

.filtres ul {
  display: flex;
  flex-wrap: wrap; 
  gap: 17px;
}

.check-point {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:16px;
  margin-left:60px;
}

.check-point .fas.fa-info {
  color: blue;
  border: 1px solid gray;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
}

/*............Container global...........*/

.container-hebergement-populaire {
  display: flex;
}

/*............Hebergement...........*/

.heberg-card:focus, 
.heberg-card:hover {
  cursor: pointer;
  transition: all 60ms ease-in;
  box-shadow: 0 0 20px #5d5a5e73;
}

.heberg-card {
  margin: 0;
}
.container-hebergement {
  max-width: 60%;
  background-color: #f2f2f2;
  border-radius: 30px;
  margin-left: 60px;
}

.hebergement-card {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#hebergement-card #heberg-card {
border: 6px solid white;
border-radius: 30px;
background-color: white;
}

.heberg-card {
  border: 3px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 4px #c0c0c0;
  line-height: 10px;
  margin-top: 25px;
}

.heberg-card img {
  object-fit: cover;
  height: 110px;
  min-width: 100%;
  width: 270px;
  line-height: 15px;
  border-radius: 20px 20px 0 0;
}

#lien-hebergement {
  margin: 50px 0 0 55px;
}

.fa-star {
  color: #0065fc;
  width: 14px;
}

.greystar {
  color: #f2f2f2;
}

.hebergement-card .heberg-card h3,
.hebergement-card .heberg-card p,
.hebergement-card .heberg-card .star {
  margin: 8px 0 8px 16px;
}

.heberg-card-text figure {
  margin-left: 16px;
}

.info-plus {
  margin-left: 40px;
}
/*                populaire            */

.populaire-card:hover, 
.populaire-card:focus {
  cursor: pointer;
  transition: all 60ms ease-in;
  box-shadow: 0 0 20px #5d5a5e73;
}

.popular-card-text-1,
.popular-card-text-2,
.popular-card-text-3 {
  margin-top: 20px;
  margin: 12px;
}

.popular-card-star-1,
.popular-card-star-3 {
  margin-left: 0;
  margin-top: 27px;
  margin-right: 0;
}

.popular-card-star-2 {
  margin-left: 0;
  margin-top: 25px;
  margin-right: 0;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-title .fa-solid.fa-star {
  color: black;
  margin-right: 40px;
}

.container-populaire {
  background: #F2F2F2;
  border-radius: 20px;
  display: flex;
  width: 640px; 
  height: 630px; 
  flex-direction: column;
  margin: 0 60px 0 20px;
  justify-content: space-around;
}

.populaire-card {
  min-width: 280px;
  height: 156px;
  background-color:  #fff;
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 20px;
  border: 3px solid #fff;
  border-radius: 20px;
  box-shadow: 0 4px 4px #c0c0c0;
}

.bloc_populaire figcaption {
  height: auto;
  width: auto;
  border-radius: 0 20px 20px 0;
  margin-left: 10px;
  line-height: 15px;
}

.populaire-card img {
  border-radius: 15px 0 0 15px;
  width: 40%;
  height: 155px;
  object-fit: cover;
}

.populaire-card-exception {
  min-width: 280px;
  height: 156px;
  background-color:  #fff;
  display: flex;
  flex-direction: row;
  width: auto;
  margin-bottom: 20px;
  border: 3px solid #fff;
  border-radius: 20px;
  box-shadow: 0 4px 4px #c0c0c0;
}

.fa-regular.fa-star {
  color: #c0c0c0;
}

/*                activite            */

.container-activite {
  display: flex;
  justify-content: space-between;
  height: 550px;
  margin: 25px 60px 60px 60px;
  gap: 25px;
}

.activite .group-min-card-one,
.activite .group-min-card-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  gap: 25px;
}

.activite .max-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
}

.activite .max-card img {
  max-width: 100%;
  height: 536px;
  width: 370px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

[class*="min-card"] img {
  width: 341px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.min-card-1 img {
  height: 200px;
}

.min-card-2 img {
  height: 170px;
}

.min-card-3 img  {
  height: 190px;
}

.min-card-4 img  {
  height: 180px;
}

.title-activity {
  padding: 21px;
  margin: 0;
  font-weight: bold;
  font-size: 0.7rem;
}

.min-card-1,
.min-card-2,
.min-card-3,
.min-card-4,
.max-card {
  margin:0;
}

.min-card-1,
.min-card-2,
.min-card-3,
.min-card-4,
.max-card {
  box-shadow: 0 0 10px 0 #E0E0E0;
  border-radius: 25px;
  cursor: pointer;
}

/*                footer             */

footer {
  background: #F2F2F2;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

.pied-page {
  width: 33%;
}

.Size-title-footer {
  font-size: 1.3rem;
  margin-left: 60px;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  padding-left: 60px;
}

footer li {
  margin-right: 15px;
}

footer a {
  text-decoration: none;
  color: black;
}

/*               Tablette            */

@media screen and (max-width: 991px) {

body {
  width: auto;
}

.logo {
  height: 50px;
  margin-top: 30px;
}

h1 {
  font-size: 2.3rem;
}

nav a {
  font-size: 1rem;
}

.header-p {
  font-size: 1rem;
}

.check-point {
  font-size: 0.9rem;
}

.filtres h2 {
  font-size: 2rem;
  margin-left: 40px;
}

.filtres {
  display: block;
  margin: 20px;
}

.text-filtre {
  font-size: 1.5rem;
}

.container-hebergement-populaire {
  display: block;
}

/*               populaire            */

h3 {
  font-size: 0.8rem;
}

.container-populaire {
  width: auto;
  height: auto;
}

[class*="popular-card-text"] {
  margin: 0 0 0 8px;
  }

.container-populaire {
  order:1;
  margin-right: 0 50px 0 50px;
}

.populaire-card {
  margin: 0 5px 0 5px;
  min-width: 31%;
  height: 155px;
}

.popular-title {
  margin-left: 40px;
}

.populaire-list {
  display: flex;
  height: 164px;
}

.container-populaire {
  background: #F2F2F2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 50px 0 50px;
  justify-content: space-around;
}

.popular-title .fa-solid.fa-star {
  margin-right: 60px;
}

/*               Hebergement            */
.hebergement-card {
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-hebergement {
  max-width: unset;
  background-color: #f2f2f2;
  margin: 0 50px 25px 50px;
  width: auto;
  height: auto;
}

.heberg-card {
  border: 5px #FFF solid;
  border-radius: 20px;
  Background-color: #FFF;
  box-shadow: 0 0 20px #d3d3d3;
  margin: 10px;
}

.heberg-card img {
  object-fit: cover;
  height: 110px;
  width: 168px;
  max-width: 100%;
  line-height: 15px;
  border-radius: 20px 20px 0 0;
}

/*               Activités            */

.container-activite {
  display: flex;
  margin: 25px 50px 60px 50px;
  height: auto;
  gap: 15px;
}

.container-activite .group-min-card-one,
.container-activite .group-min-card-two {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.container-activite .max-card img,
.container-activite .min-card-1 img,
.container-activite .min-card-2 img,
.container-activite .min-card-3 img,
.container-activite .min-card-4 img {
  width: 685px;
  border-radius: 20px 20px 0 0;
}

.min-card-1, .min-card-2, .min-card-3, .min-card-4, .max-card {
  margin-right: 0;
}

.min-card-4,
.min-card-2{
  margin-top: 15px;
}

.container-activite .max-card img {
  max-width: 100%;
  height: 475px;
  object-fit: cover;
}

/*               footer            */

.pied-page {
  width: auto;
}
}

/*               Mobile            */

@media screen and (max-width: 767px) 
{
body {
  width: auto;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}

h1 {
  font-size: 1.5rem;
  margin-left: 20px;
}

nav {
  display: unset;
}

nav a {
  font-size: 1rem;
}

nav ul li {
  padding: 30px 0 30px 0;
  margin : 0;
  border-top-width: 0;
}

nav li {
  width: 100%;
  border-bottom: 2px solid #e3e3e3;
}

nav ul {
  text-align: center;
  padding-left: 0;
}

/*             barre de recherche & filtres            */

.search {
  display: inline-block;
  border: 1px solid #9e01010d;
  border-radius: 15px;
  width: auto;
  margin-left: 20px;
  margin-top: 30px;
}

.search button {
  background-image: url("../images/211817_search_strong_icon.png");
  background-size: 30px;
  background-repeat: no-repeat;
  width: 50px;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  color: transparent;
  background-position: center;
  height: 55px;
  padding-top: 16px
}

.header-p {
  font-size: 0.9rem;
  margin-left: 20px;
}

.check-point {
  font-size: 0.9rem;
  margin-left: 38px;
}

.filtres h2 {
  font-size: 1.2rem;
  margin-left: 0;
}

.filtres ul {
  margin-left: 20px;
  padding-left: 0;
}

.filtres {
  display: block;
  margin-top: 40px;
}

.text-filtre {
  font-size: 1.1rem;
}

/*                    Populaire                */

.populaire-list {
  display: unset;
  height: unset;
}

.popular-card-star-1,
.popular-card-star-2,
.popular-card-star-3 {
  margin: 0;
}

.container-populaire {
  order: 1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 0;
}

.populaire-card {
  margin: 15px;
}

.populaire-card img {
  border-radius: 15px 0 0 15px;
  width: 40%;
  height: 155px;
  object-fit: cover;
}

/*                  Hebergement                */

.container-hebergement-populaire {
  display: flex;
  flex-direction: column;
}

.container-hebergement-populaire .container-hebergement {
  order: 2;
}

.container-hebergement {
  background-color: unset;
  margin: 0 0 30px 0;
  border-radius: 25px 25px 25px 25px;
}

.heberg-card img {
  box-sizing: content-box;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.heberg-card > img {
  max-height: 120px;
  min-width: 134px;
  object-fit: cover;
}

.heberg-card {
  margin: 0;
}

.hebergement-card {
  flex-direction: column;
}

/*               Activité            */

.container-activite {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 60px 60px 60px;
  height: auto;
  gap: 13px;
  }

.container-activite .max-card img, 
.container-activite .min-card-2 img,
.container-activite .min-card-3 img,
.container-activite .min-card-4 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container-activite .min-card-1 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.min-card-1, .min-card-2, .min-card-3, .min-card-4, .max-card {
  margin-right: 0;
}

/*               footer            */

footer {
  display: flex;
  flex-direction: column;
}

.pied-page {
  width:auto;
}

}