body {
        font-family: raleway, Arial, sans-serif;
        margin: auto;
}

main {
        display: flex;
        width: 100%;
        margin: auto;
}

.logo {
    width: auto;
    height: 60px;
    border-top: 20px solid transparent;
}

ul {
        list-style: none;
        text-decoration: none;
        flex-direction: right;
}

h1 {
        font-size: 1.90em;
        font-weight: bold;
	margin: 15px 0 0 0;
	font-family: 'Raleway', sans-serif;
}

h2 {
        font-size: 1.5em;
        font-weight: bold;
	margin: 15px 0 0 20px;
	font-family: 'Raleway', sans-serif;
}

h3 {
        font-size: 16px;
        font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

b {
        font-weight: bolder;
}

/*                  nav          */

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
    }
    
nav ul li {
        padding: 50px 25px;
        border-top: 4px solid transparent;
        margin: 0 20px 0 20px;
}
    
nav ul li:hover {
        border-color: blue;
}
    
nav ul li a {
        color: blue;
        text-decoration: none;
}
    
nav ul li:hover a {
        color: blue;
}

/*            header             */

header h1 p {
        display: flex;
        justify-content: left;
        padding: 1px;
}

/*         barre de recherche         */

.search {
        display: inline-block;
        border: 1px solid gray;
        border-radius: 15px;
        width: auto;
}
    
.search .fa-location-dot {
        display: inline-block;
        padding: 14px;
        height: 28px;
        font-size: 25px;
        background-color: rgb(226, 226, 226);
        border-radius: 15px 0 0 15px;
}
    
.search input {
        outline: none;
        height: 52px;
        margin-left: -5px;
        border: none;
        padding: 10px;
}
    
.search button {
        background-color: blue;
        color: white;
        height: 60px;
        border: none; 
        border-radius: 0 15px 15px 0;
        padding: 14px;
        cursor: pointer;
}    

/*                 filtres               */

.filtres {
        display: flex;
        align-items: center;
}

.filtres .design-filtre {
        margin: 0 10px;
        border-radius: 30px;
        border: 2px solid var(--grey);
        display: flex;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 1s;
}

.filtres h2 {
    font-weight: bold;
    font-size: 18px;
}

.filtres ul {
        display: flex;
        flex-wrap: wrap; 
        gap: 17px;
}

.filtres li {
        display: flex;
        align-items: center;
        border: 10px solid gray;
        border-radius: 100px;
        border-left: #DEEBFF;  
}


.check-point {
        display: flex;
}
    
.check-point .fa-circle-info {
        color: blue;
        border: 1px solid rgb(229, 220, 220);
        border-radius: 100%;
        width: 25px;
        height: 25px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
}

/*............Hebergement...........*/


.Hebergements-background {
        background: #F2F2F2;
        border-radius: 10px;
        width: 70%; 
        height: auto;
        margin: 0 20px 0 40px;
        border-radius: 25px 25px 25px 25px;
}

.heberg-card {
        min-width: 200px;
        width: 85%;
        height: 171px;
        background-color:  #ffff;
        border: 4px solid #ffff;
        border-radius: 20px;
        box-shadow: 1px 1px 10px #dfdfdf;
        line-height: 1.5;
    }  


.hebergement-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 30px;
        padding: 30px 0 50px 0;
}

.heberg-card img {
        width: 100%;
        height: 110px;
        border-radius: 15px 15px 0 0;
}

#article #img {
        margin-top: -8px;
        width: 73%;
        height: 110px;
        border-radius: 20px 20px 0 0;
        text-align: left;
        object-fit: cover;
}

article h2 {
        margin-left: 20px;
        margin-bottom: 25px;
}

.fa-star {
        padding-top: 5px;
}

/*                populaire            */

.container-populaire {
        background: #F2F2F2;
        border-radius: 10px;
        width: 70%; 
        height: auto; 
        margin: 0 20px 0 40px;
}


.container-populaire {
        background: #F2F2F2;
        border-radius: 20px;
        display: flex;
        width: 30%; 
        flex-direction: column;
        margin: 0 40px 0 20px;
        height: auto; 
        justify-content: space-around;
}

.populaire-card {
    min-width: 280px;
    height: 156px;
    background-color:  #ffff;
    display: flex;
    flex-direction: row;
    width: auto;
    margin-bottom: 20px;
    border: 3px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 4px #c0c0c0;
}

.bloc_populaire figcaption {
    height: auto;
    width: auto;
    border-radius: 0 20px 20px 0;
    margin-left: 10px;
    line-height: 15px;
}

.populaire-card img {
     border-radius: 15px 0 0 15px;
     width: 184px;
}

.populaire-card-exception {
    min-width: 280px;
    height: 156px;
    background-color:  #ffff;
    display: flex;
    flex-direction: row;
    width: auto;
    margin-bottom: 20px;
    border: 3px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 4px #c0c0c0;

}

/*                activite            */


.activite {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        height: 600px
}

.min-card-one img {
        height: 189px;
        width: 278px;
        border-radius: 15px 15px 0 0;
}

.min-card-one {
        width: 278px;
        height: 223px;
        background-color:  #ffff;
        border-radius: 20px;
        margin-bottom:25px; 
        box-shadow: 0 0 10px 0 #dfdfdf;
        display: flex;
        flex-direction: column;
}

.min-card-two {
        width: 278px;
        height: 223px;
        background-color: #ffff;
        border-radius: 15px 15px 15px 15px;
        margin-bottom:25px; 
        box-shadow: 0 0 10px 0 #dfdfdf;
        display: flex;
        flex-direction: column;
}

img {
        border-radius: 15px 15px 0 0;
}

.max-card img {
        width: 342px;
        height: 481px;
        background-color:  #ffff;
        border-radius: 20px 20px 0 0;
        margin-bottom: 40px; 
        box-shadow: 1px 1px 10px #dfdfdf;
}


/*                footer             */

footer {
        background: #F2F2F2;
        padding: 50px;
        display: flex;
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 250px;
}


.pied-page {
        width: 33%;
}

footer ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        line-height: 25px;
}

footer li {
        margin-right: 15px;
}

footer a {
        text-decoration: none;
        color: black;
}
