
* {
  font-family: raleway, sans-serif;
  box-sizing: border-box;
}


body {
  font-size: 14px;
  font-weight: 300;
  color:#000000;
  background-color: #FFFFFF; 
  margin:0px;
}

main {
  display: flex;
  width: 100%;
  margin: auto;
}

.logo {
  width: auto;
  height: 45px;
  margin-top: 50px;
  margin-left: 10px;
}

ul {
  list-style: none;
}

h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0 0 40px;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0 0 40px;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

b {
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: initial;
  width: auto;
}

p {
  font-weight: 200;
  font-size: 15px;
}

/*                  nav          */

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 166px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

nav li {
  padding: 50px 25px;
  border-top: 2px solid transparent;
  margin: 0 20px 0 20px;
}

nav li:hover {
  border-color: blue;
}

nav li:hover a {
  color: blue;
}

/*            header             */

header h1 p {
  display: flex;
  justify-content: left;
  padding: 1px;
}

.header-p {
  margin-left: 40px;
}

/*         barre de recherche         */

.search {
  display: inline-block;
  border: 1px solid #8080800d;
  border-radius: 15px;
  width: auto;
  margin-left: 40px;
}

input {
  border: none;
}
.search .fa-location-dot {
  display: inline-block;
  padding: 18px;
  height: 59px;
  width: 54px;
  font-size: 18px;
  background-color: #F2F2F2;
  border-radius: 14px 0 0 15px;
}

.search button {
  background-color: #0065fc;
  color: white;
  height: 60px;
  border: none; 
  border-radius: 0 15px 15px 0;
  padding: 14px;
  cursor: pointer;
} 

/*                 filtres               */

.design-filtre:hover, 
.design-filtre:focus {
  background: #DEEBFF;
  color: #0065FC;
}

.design-filtre {
  display: flex;
  align-items: center;
  height: 50px;
  color: #0065fc;
  border: 1px #D9D9D9 solid;
  border-radius: 25px;
  margin: 0 15px 0 0;
}

.fa-money-bill-wave,
.fa-child-reaching,
.fa-heart,
.fa-dog 
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-left: -7px;
  border: 2px #DEEBFF solid;
  border-radius: 25px;
  background-color: #DEEBFF;
}

.text-filtre {
  color: #000000;
  font-size: 16px;
  padding: 0 20px 0 15px;
}

.filtres {
  display: flex;
  align-items: center;
}

.filtres .design-filtre {
  border-radius: 2rem;
  border: 1px solid #add8e6;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 1s;
}

button {
  background-color: white;
}

.filtres h2 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
}

.filtres ul {
  display: flex;
  flex-wrap: wrap; 
  gap: 17px;
}

.check-point {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:16px;
  margin-left:38px;
}

.check-point .fa-circle-info {
  color: blue;
  border: 1px solid #D9D9D9;
  border-radius: 25px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/*............Hebergement...........*/


.Hebergements-background {
  background-color: #F2F2F2;
  width: 1170px; 
  height: 750px;
  margin: 0 20px 0 40px;
  border-radius: 25px 25px 25px 25px;
  margin-bottom: 35px;
}

.hebergement-card {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.heberg-card {
  border: 5px #FFF solid;
  border-radius: 20px;
  Background-color: #FFF;
  box-shadow: 0 0 20px #d3d3d3;
  margin: 10px;
}

.heberg-card > img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-height: 180px;
  min-width: 320px;
  object-fit: cover;
}

.heberg-card figure {
  margin-left: 0;
}

.heberg-card-text {
  font-weight: 680;
  line-height: 4px;
  padding: 0 0 0 10px;
}

.heberg-card:hover, 
.heberg-card:focus {
  cursor: pointer;
  transition: all 60ms ease-in;
  transform: scale(1.05);
}

article h2 {
  margin-left: 50px;
}

.fa-star {
  padding-top: 5px;
  color: #0065fc;
}

.info-plus {
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  padding: 20px 50px;
}


/*                populaire            */

.populaire-card:hover, 
.populaire-card:focus {
  cursor: pointer;
  transition: all 60ms ease-in;
  box-shadow: 0 0 20px #5d5a5e73;
}

.popular-card-text-1,
.popular-card-text-2,
.popular-card-text-3 {
  margin-top: 20px;
  margin: 12px;
}

.popular-card-star-1,
.popular-card-star-3 {
  margin-left: 0;
  margin-top: 40px;
}

.popular-card-star-2 {
  margin-left: 0;
  margin-top: 25px;
}


.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-title .fa-solid.fa-star {
  color: black;
  margin-right: 40px;
}

.container-populaire {
  background: #F2F2F2;
  border-radius: 10px;
  width: 70%; 
  height: auto; 
  margin: 0 20px 0 40px;
}

.container-populaire {
  background: #F2F2F2;
  border-radius: 20px;
  display: flex;
  width: 486px; 
  height: 746px; 
  flex-direction: column;
  margin: 0 40px 0 20px;
  justify-content: space-around;
}

.populaire-card {
  min-width: 280px;
  height: 156px;
  background-color:  #ffff;
  display: flex;
  flex-direction: row;
  width: auto;
  margin-bottom: 70px;
  border: 3px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 4px #c0c0c0;
}

.bloc_populaire figcaption {
  height: auto;
  width: auto;
  border-radius: 0 20px 20px 0;
  margin-left: 10px;
  line-height: 15px;
}

.populaire-card img {
  border-radius: 15px 0 0 15px;
  width: 184px;
}

.populaire-card-exception {
  min-width: 280px;
  height: 156px;
  background-color:  #ffff;
  display: flex;
  flex-direction: row;
  width: auto;
  margin-bottom: 20px;
  border: 3px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 4px #c0c0c0;
}

.fa-regular.fa-star {
  color: #c0c0c0;
}

#popular-card-text .fa-solid {
  margin-top: 26px;
}

/*                activite            */

.activite {
  display: flex;
  justify-content: space-between;
  height: 600px;
  margin:25px 170px 60px 40px;
}

.activite .group-min-card-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
}

.activite .group-min-card-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
}

.activite .max-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
}

.activite .max-card img {
  width: 390px;
  height: 536px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.min-card-1 img {
  width: 456px;
  height: 266px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.min-card-2 img {
  width: 455px;
  height: 171px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.min-card-3 img  {
  width: 351px;
  height: 228px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.min-card-4 img  {
  width: 351px;
  height: 209px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.title-activity {
  padding: 21px;
  margin: 0;
  font-weight: bold;
  font-size: 16px
}

.min-card-1,
.min-card-2,
.min-card-3,
.min-card-4,
.max-card {
  margin:0;
}

.min-card-1,
.min-card-2,
.min-card-3,
.min-card-4,
.max-card {
  box-shadow: 0px 0px 10px 0px #E0E0E0;
  border-radius: 25px;
  cursor: pointer;
}

/*                footer             */

footer {
  background: #F2F2F2;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 126px;
}

.pied-page {
  width: 33%;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  line-height: 25px;
}

footer li {
  margin-right: 15px;
}

footer a {
  text-decoration: none;
  color: black;
}

/*               tablette            */

@media screen and (max-width: 991px) 
{
  .text-filtre {
    margin: auto 10px;
  }
}